body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111315;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Header {
  position: absolute;
  width: 84.02%;
  height: 11.33%;
  left: 16%;
  top: 0px;
  right: 0px;
  background: #1a1d1f;
}

.Scrobits {
  position: absolute;
  width: 14.65%;
  height: 4.31%;
  left: 2.01%;
  top: 3.32%;
}

.ScrobitsLogo {
  position: absolute;
  width: 3.4%;
  height: 3.81%;
  left: 93.264%;
  top: 3.001%;
}

#API {
  position: absolute;
  width: 26.7%;
  height: 2.52%;
  left: 3.82%;
  right: 59.52%;
  top: 4.003%;
  bottom: 35.461%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;

  color: #ffffff;
}

.Slidebar {
  position: absolute;
  width: 16%;
  height: 100%;
  left: 0px;
  top: 0px;
cursor: pointer;
  background: #1a1d1f;
}

.SlideBarOption1:hover {
  color: rgb(79, 89, 232);
}
.SlideBarOption2:hover {
  color: rgb(79, 89, 232);
}
.SlideBarOption3:hover {
  color: rgb(79, 89, 232);
}
.SlideBarOption1 {
  position: absolute;
  width: 50%;
  height: 2.34%;
  left: 30%;
  top: 16.02%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;
  color: #ffffff;
  cursor: pointer;

  background-color: transparent;
  border: transparent 1px solid;
}

.SlideBarOption2 {
  position: absolute;
  width: 50%;
  height: 2.34%;
  left: 30%;
  top: 21.48%;
    cursor: pointer;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;
  color: #ffffff;

  background-color: transparent;
  border: transparent 1px solid;
}

.SlideBarOption3 {
  position: absolute;
  width: 40%;
  height: 2.34%;
  left: 30%;
  top: 89.84%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;

  background-color: transparent;
  border: transparent 1px solid;
}

.Vector {
  width: 5%;
  height: 5%;
  left: 20%;
}

#Vector1 {
  position: absolute;
  top: 16%;
  color: #ffffff;
}

#Vector2 {
  position: absolute;
  top: 22%;
  color: #ffffff;
}

#Vector3 {
  position: absolute;
  top: 90%;
  color: #ffffff;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.ServerStatus {
  position: absolute;
  width: 78.47%;
  height: 16.41%;
  left: 18.75%;
  top: 14.36%;

  background: #1a1d1f;
  box-shadow: 0px 4px 4px rgba(0, 117, 255, 0.2);
  border-radius: 10px;
}
.Input {
  margin-top: 4.52%;
  margin-bottom: 0%;

  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #ffffff;
}

p{
  line-height: 20%;
}
.StatusText {
  position: relative;
  padding-bottom: 90%;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}
#status1 {
  position: absolute;
  width: 8.33%;
  height: 75%;
  left: 21%;
  top: 13.44%;

  background: #111315;
  border-radius: 10px;
}
#status2 {
  position: absolute;
  width: 8.33%;
  height: 75%;
  left: 34%;
  top: 13.44%;

  background: #111315;
  box-shadow: 0px 4px 4px rgba(255, 0, 0, 0.25);
  border-radius: 10px;
}
#status3 {
  position: absolute;
  width: 8.33%;
  height: 75%;
  left: 47%;
  top: 13.44%;

  background: #111315;
  border-radius: 10px;
}
#status4 {
  position: absolute;
  width: 8.33%;
  height: 75%;
  left: 60%;
  top: 13.44%;

  background: #111315;
  box-shadow: 0px 4px 4px rgba(255, 0, 0, 0.25);
  border-radius: 10px;
}
#buttonAddProject {
  position: absolute;
  left: 86.22%;
  right: 1.81%;
  top: 26.66%;
  bottom: 5.66%;
  width: 11.45%;
  height: 55.08px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background: #0075ff;
  border-radius: 8px;
  cursor: pointer;
}

#buttonAddProject:hover{
  background-color: #0099ff;
}

#servertext {
  position: absolute;
  width: 5.76%;
  height: 0.0703%;
  left: 3.81%;
  top: 5.69%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;

  color: #ffffff;
}

.ContentTable {
  position: absolute;
  width: 78.47%;
  height: 62.7%;
  left: 18.75%;
  top: 34.77%;

  background: #1a1d1f;
  border-radius: 10px;
}
.Search {
  position: absolute;
  top: -0.5%;
  border-radius: 5px;
  padding-left: 5%;
  height: 12px;
  left: 50px;
  text-align: left;
  border-color: transparent;
  color: #ffffff;
  background-color: transparent;
  outline: none;
}

.Container {
  position: absolute;
  width: 30%;
  height: 9%;
  top: 3.7%;
  left: 2.7%;
  background-color: #070707;
  border-radius: 7px;
  padding-left: 2.5%;
  padding-top: 0.6%;
}
.searchIcon {
  position: absolute;
  align-items: center;
  top: 10px;
  height: 2.0%;
  width: 1.5%;
  background-color: #111315;
}
/* .Search1 {
  width: 15%;
  height: 7%;
  background-color: #111315;
} */
.columnName {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 20px;
}
.Table {
  position: absolute;
  width: 95.17%;
  height: 80%;
  left: 2.36%;
  right: 19.45%;
  top: 16.15%;
  bottom: 0%;
  color: #ffffff;
  background: #111315;
  border-radius: 10px;
}

.EvenRow {
  background-color: #1a1d1f;
}

#LeftButton {
  position: absolute;
  left: 5.22%;
  right: 1.81%;
  top: 91.5%;
  bottom: 5.66%;
  width: 2.9%;
  height: 8.5%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: transparent;
  border-radius: 8px;
  border-color: transparent;
}

#RightButton {
  position: absolute;
  left: 20.22%;
  right: 1.81%;
  top: 91.5%;
  bottom: 5.66%;
  width: 2.9%;
  height: 8.5%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: transparent;
  border-radius: 8px;
  border-color: transparent;
}
